<div *ngIf="contact" class="modal-header d-flex justify-content-between">
  <div class="d-flex">
    <img *ngIf="contact && contact.photoURL" width="60" height="60" class="contact-avatar" [src]="contact.photoURL" />
    <div *ngIf="contact && !contact.avatar" class="contact-letter">
      {{ contact.firstname[0] }}
    </div>
    <div class="d-flex flex-column">
      <span class="contact-name">{{ contact.firstname }} {{ contact.lastname }}</span>
      <div>
        <span *ngFor="let group of (contactGroups$ | async)" class="badge contact-badge mr-2">
          {{ group.name }}
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex modal-header-actions align-items-center">
    <i (click)="edit = !edit" class="ion ion-md-create"></i>
    <div ngbDropdown class="d-inline-block">
      <i ngbDropdownToggle class="ion ion-md-more"></i>
      <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item">
          <i class="fa fa-trash"></i> Delete
        </li>
      </ul>
    </div>
    <i (click)="activeModal.dismiss()" class="ion ion-md-close"></i>
  </div>
</div>
<div *ngIf="!contact" class="modal-header d-flex justify-content-between">
  Create contact
  <div class="d-flex modal-header-actions align-items-center">
    <i (click)="activeModal.dismiss()" class="ion ion-md-close"></i>
  </div>
</div>
<div class="modal-body">
  <ul *ngIf="!edit" class="list-group w-100 border-0 m-0 p-0">
    <li class="list-group-item border-0">
      <i class="fa fa-envelope mr-2"></i>
      {{ contact.email }}
    </li>
    <li class="list-group-item border-0">
      <i class="fa fa-phone mr-2"></i>
      {{ contact.phone }}
    </li>
    <li *ngIf="contact && contact.location" class="list-group-item d-flex border-0">
      <i *ngIf="contact.location.address || contact.location.postcode || contact.location.city" class="fa fa-map-marker mr-2"></i>
      <div class="d-flex flex-column">
        <span *ngIf="contact && contact.location && contact.location.address">{{ contact.location.address }}</span>
        <span *ngIf="contact && contact.location && contact.location.postcode">{{ contact.location.postcode }} </span>
        <span *ngIf="contact && contact.location && contact.location.city">{{ contact.location.city }}</span>
        <span *ngIf="contact && contact.location && contact.location.country">{{ contact.location.country }}</span>
      </div>
    </li>
  </ul>
  <form [formGroup]="form" *ngIf="edit">
    <div class="form-group d-flex align-items-center row">
      <label class="form-control-label col-md-3">Groups</label>
      <div class="col-md-9 m-0 p-0">
        <ng-select formControlName="groups" class="w-100" multiple="true" [items]="groups$ | async" bindLabel="name" bindValue="id"></ng-select>
      </div>
    </div>
    <div class="form-group d-flex align-items-center row">
      <label class="col-md-3" for="exampleInputEmail1">First name</label>
      <input formControlName="firstname" type="email" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
    </div>
    <div class="form-group d-flex align-items-center row">
      <label class="col-md-3" for="exampleInputEmail1">Last name</label>
      <input formControlName="lastname" type="email" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
    </div>
    <div class="form-group d-flex align-items-center row">
      <label class="col-md-3" for="exampleInputEmail1">Email</label>
      <input formControlName="email" type="email" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
    </div>
    <div class="form-group d-flex align-items-center row">
      <label class="col-md-3" for="exampleInputEmail1">Phone</label>
      <input formControlName="phone" type="tel" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
    </div>
    <div [formGroup]="location">
      <div class="form-group d-flex align-items-center row">
        <label class="col-md-3" for="exampleInputEmail1">Address</label>
        <input formControlName="address" type="text" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
      </div>
      <div class="form-group d-flex align-items-center row">
        <label class="col-md-3" for="exampleInputEmail1">Postal code</label>
        <input formControlName="postcode" type="text" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
      </div>
      <div class="form-group d-flex align-items-center row">
        <label class="col-md-3" for="exampleInputEmail1">City</label>
        <input formControlName="city" type="text" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
      </div>
      <div class="form-group d-flex align-items-center row">
        <label class="col-md-3" for="exampleInputEmail1">State</label>
        <input formControlName="state" type="text" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
      </div>
      <div class="form-group d-flex align-items-center row">
        <label class="col-md-3" for="exampleInputEmail1">Country</label>
        <input formControlName="country" type="text" class="form-control form-control-sm col-md-9" aria-describedby="emailHelp">
      </div>
    </div>
  </form>
</div>
<div *ngIf="edit" class="modal-footer">
  <a (click)="activeModal.dismiss()" class="btn btn-sm btn-danger">Cancel</a>
  <a (click)="save()" class="btn btn-sm btn-primary">Save</a>
</div>
