.main {
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.sidebar-list-group {
  margin: -1.25rem;
}

.contacts-checkbox {
  font-size: 14px;
}

.contacts-select-actions {
  .fa {
    font-size: 1.2rem;
    color: #4b4b4b;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .fa:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 50%;
  }
}

.list-group-item {
  color: #4b4b4b;
  display: flex;
  align-items: center;
  outline: 0;
  overflow: hidden;
  padding: 1.0675rem 0.75rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.list-group-item .ion {
  font-size: 16px;
}

.with-children:hover {
  background-color: transparent;
  cursor: pointer;
}
