<nb-layout>
  <nb-layout-header fixed>
    <app-header class="w-100"></app-header>
  </nb-layout-header>
  <nb-sidebar responsive>
    <app-sidebar></app-sidebar>
  </nb-sidebar>
  <nb-layout-column infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
    class="position-relative">
    <div *ngIf="selectedData.length > 0" class="d-flex justify-content-between mb-3">
      <span class="d-flex contacts-checkbox align-items-center pl-3 m-0">
        <label (click)="$event.stopPropagation();" class="checkbox-container mr-2">
          <input [(ngModel)]="allSelected.checked" (change)="handleSelectAllChanged($event)" type="checkbox">
          <span class="checkmark"></span>
        </label>
        {{ allSelected.checked ? users.length : selectedData.length }} sélectionnés
      </span>
      <div class="contacts-select-actions d-flex pr-3">
        <i (click)="delete()" class="ti ti-trash mr-3"></i>
        <i class="ti ti-download"></i>
      </div>
    </div>
    <dtc-table [selectAll]="allSelected" (rowActionClicked)="handleRowActionClicked($event)" (rowClicked)="handleRowClicked($event)"
      (selectRowChanged)="handleSelectRowChanged($event)" [config]="config" [data]="users"></dtc-table>
    <a (click)="create()" class="btn-add-contact">
      <i class="nb-plus"></i>
    </a>
  </nb-layout-column>
</nb-layout>
